/* font-family: 'Bad Script', cursive;
font-family: 'Neucha', cursive; 
font-family: 'Josefin Slab', serif;
font-family: 'Amatic SC', cursive;
#e446b6 is the light pink
#9a4fdf medium purple
#8652ea medium slate
https://media.giphy.com/media/d39JcROfJdsoZD5f37/giphy.gif
*/
body{
    font-family: 'Josefin Slab', serif;
    color: white;
    background: url(../images/plaid3.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.mainContainer{
    /* background-color: #b0b0ae; */
    background: url(../images/blackboard2.jpg);
    border-radius: 5px;
    /* min-height: 100vh; */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

.secondContainer{
    border-radius: 5px;
    background: url(../images/blackboard2.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
}

#introTxt{
    font-family: 'Amatic SC', cursive;
    font-size: 82px;
    color: #9ec1ac;
}

.jumbotron{
    background: url(../images/plaid2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 15px;
}

.oneGif{
    display: inline-block;
}

.btn{
    background-color: #1d1419;
    color: white;
    text-shadow: 1px 1px rgba(158,193,172,0.75);
}

#addBandButton{
    display: inline;
}

.btn:hover, .downloadButton{
    background-color: rgba(158,193,172,0.75);
}

.form-control{
    background-color: rgba(158,193,172,0.75);
    border-color: rgba(158,193,172,0.75);
}

.form-control:hover, .downloadButton:hover{
    background-color: white;
    color: #1d1419;
}

.darkLight{
    background-color: rgba(158,193,172,0.75);
    padding: 5px;
    border-radius: 5px;
}

.card{
    background-color: #1d1419;
    /* background: url(../images/plaid2.jpg); */
}